<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'dashboardManagement.css' %}" />
    <title>Dashboard (Security)</title>
</head>
<body>
  <div class="sidebar">
    <h2>Dashboard</h2>
    <a href="{% url 'management:maintenancerequestmanagement' %}">Maintennece</a>
    <a href="{% url 'management:createbills' %}">Create Bills</a>
    <a href="{% url 'management:createannouncement' %}">Create Announcement</a>
    <a href="{% url 'management:announcementlog' %}">Announcement Log</a>
    <a href="{% url 'management:notificationlog' %}">Notification Log</a>
    <a href="{% url 'management:tenantbookinglist' %}">Tenant Booking</a>
    <a href="{% url 'management:managefacilities' %}">Manage Facilities</a>
    <a href="{% url 'management:viewfacilities' %}">view facilities </a>
    <a href="{% url 'management:complainhistorytenant' %}">Complain History</a>
    <a href="{% url 'management:createnotification' %}">Create Notification</a>
</div>

<div class="main_content">
    <div class="dashboard_div">
        <h3>Visitor Analytics</h3>
        <div id="visitor-charts"></div>
    </div>
    <div class="dashboard_div">
        <h3>Incident Reports</h3>
        <div id="incident-charts"></div>
    </div>
    <div class="dashboard_div">
        <h3>Access Control Logs</h3>
        <div id="access-control-charts"></div>
    </div>
    <div class="dashboard_div">
        <h3>Surveillance Analysis</h3>
        <div id="surveillance-charts"></div>
    </div>
</div>
</body>
</html>