<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'deletefacilities.css' %}" />
    <title>Delete All Facilities</title>
</head>
<body>
    <div class="container">
        <h2>Are you sure you want to delete all facilities?</h2>
        <form method="POST">
            {% csrf_token %}
            <button type="submit">Delete all</button>
            <a href="{% url 'viewfacilities' %}">Go back</a>
        </form>
    </div>
</body>
</html>
