<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'updateMaintence.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Maintenance Request</title>
</head>
<body>
    <div class="container">
        <h1>Update Maintenance Request</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="status">Status:</label>
                <select name="status" id="status">
                    {% for value, label in updatemaintenancerequest.STATUS_CHOICES %}
                        <option value="{{ value }}" {% if updatemaintenancerequest.status == value %}selected{% endif %}>
                            {{ label }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary"   >Update Status</button>
        </form>
      </div>
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert">
          {{ message }}
      </div>
      {% endfor %}
    </body>
    </html>