*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #c9ccd1;
    font-size: 13px;
    color: #000;
}
body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h2 {
    margin-bottom: 15px;
    font-size: 13px;
}

button, a {
    display: inline-block;
    margin: 10px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

button {
    background-color: #d9534f;
    cursor: pointer;
}

button:hover {
    background-color: #c9302c;
}

a {
    background-color: #5bc0de;
}

a:hover {
    background-color: #31b0d5;
}