<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'addTenantown1.css' %}" />
    <title>Addtenant</title>
</head>
<body>
  <h1>Tenant Form</h1>
  <form id="rental-application" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Personal Information</h2>
    <div class="form-group">
      <label for="full-name">Name:</label>
      <input type="text" id="full-name" name="full_name" placeholder="Enter Your Name" >
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="Enter Your Email" >
    </div>
    <div class="form-group">
      <label for="phone-number">Phone Number:</label>
      <input type="tel" id="phone-number" name="phone_number" placeholder="Enter Your Phone Number" >
    </div>
    <div class="form-group">
      <label for="occupation">Occupation:</label>
      <input type="text" id="occupation" name="occupation"placeholder="Enter Your Occupation" >
    </div>
    <div class="form-group">
      <label for="date-of-birth">Date of Birth:</label>
      <input type="date" id="date-of-birth" name="date_of_birth" >
    </div>
    <div class="form-group">
      <label for="nationality">Nationality:</label>
      <input type="text" id="nationality" name="nationality" placeholder="Enter Your Nationality" >
    </div>
    <div class="form-group">
      <label for="home-address">Home Address:</label>
      <textarea id="home-address" name="home_address" rows="3" ></textarea>
    </div>
    <h2>Identification</h2>
    <div class="form-group">
      <label for="identification">Copy of Passport or NRIC:</label>
      <input type="file" id="identification" name="passport_or_nric" accept=".jpg,.jpeg,.png,.pdf" required>
      <p>Only PDF files are allowed.</p>
    </div>
    <div class="form-group">
      <label for="driving-license">Driving License: (Optional)</label>
      <input type="file" id="driving-license" name="driving_license" accept=".jpg,.jpeg,.png,.pdf">
      <p>Only PDF files are allowed.</p>
    </div>
    <button type="submit" class="custom-button" onclick="window.location.href='{% url 'addtenant2' %}'">Next</button>
    </form>
</body>
</html>