<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'addTenantown3.css' %}" />
    <title>Addtenant</title>
</head>
<body>
  <h1>Tenant Form</h1>
  <form id="rental-application">
    <h2>Rental Agreement</h2>
    <div class="form-group">
      <label for="lease-term">Tenant Contract:</label>
      <select name="lease_term" id="lease-term" required>
        <option value="">Select Contract Duration</option>
        <option value="6">6 Months</option>
        <option value="12">1 Year</option>
        <option value="24">2 Years</option>
      </select>
    </div>
    <div class="form-group">
        <label for="floor-number">Floor Number:</label>
        <input type="number" id="floor-number" name="floor_number"  placeholder="Enter Floor Number" required>
      </div>
      <div class="form-group">
        <label for="unit-number">Unit Number:</label>
        <input type="number" id="unit-number" name="unit_number"  placeholder="Enter Unit Number"  required>
    </div>
    <div class="form-group">
        <label for="security-deposit">Security Deposit:</label>
        <input type="number" id="security-deposit" name="security-deposit" placeholder="Enter Security Deposit amount">
      </div>
      <div class="form-group">
        <label for="refundable-amount">Refundable Amount:</label>
        <input type="number" id="refundable-amount" name="refundable-amount" placeholder="Enter Refundable amount">
      </div>
      <div class="form-group">
        <label for="rent-fee">Rent Fee:</label>
        <input type="number" id="rent-fee" name="rent-fee" placeholder="Enter Rent Amount Monthly">
      </div>
      <div class="form-group">
        <label for="rent-date">Rent Starting Date:</label>
        <input type="date" id="rent-date" name="rent-date">
      </div>
      <div class="form-group">
        <label for="additional-charges">Additional Charges:</label>
        <input type="number" id="additional-charges" name="additional-charges" placeholder="Enter additional charges if applicable">
      </div>
    <h2>Additional Information</h2>
    <div class="form-group">
      <label for="parking-slot">Parking Slot: (Optional)</label>
      <input type="number" id="parking-slot" name="parking_slot" placeholder="Enter Parking Slot If Applicable">
    </div>
    <div class="form-group">
      <label for="tenant-insurance">Tenant Insurance: (Optional)</label>
      <input type="text" id="tenant-insurance" name="tenant_insurance" placeholder="Enter Tenant Insurance If Applicable">
    </div>
        <label for="confirm-email" class="checkbox-button-label">Confirm by Email</label>
        <input type="checkbox" id="confirm-email" name="confirm-email" class="checkbox-button">
    <a href="{% url 'addtenant3' %}" class="custom-button">Submit</a>
    </form>
</body>
</html>