<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'addTenantown2.css' %}" />
    <title>Addtenant</title>
</head>
<body>
    <h1>Condo Amenities</h1>
    <h2>Choose the amenities that are important to you</h2>
    <form id="amenityForm" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="amenity-container">
            <label for="FitnessCenter">
                <img src="{% static 'fitnesscenter.png' %}" alt="Secured Entry">
                <span>Fitness Center</span>
                <input type="checkbox" id="FitnessCenter" name="amenities[]" value="FitnessCenter">
            </label>
            <label for="SwimmingPool">
                <img src="{% static 'swimmingpool.png.' %}" alt="Secured Entry">               
                <span>Swimming Pool</span>
                <input type="checkbox" id="SwimmingPool" name="amenities[]" value="SwimmingPool">
            </label>
            <label for="ParkingFacilities">
                <img src="{% static 'parkingfacilities.png.' %}" alt="Secured Entry">
                <span>Parking Facilities</span>
                <input type="checkbox" id="ParkingFacilities" name="amenities[]" value="ParkingFacilities">
            </label>
            <label for="Children'sPlayArea">
                <img src="{% static 'childrenplaysarea.png.' %}" alt="Secured Entry">
                <span>Children's Play Area</span>
                <input type="checkbox" id="Children'sPlayArea" name="amenities[]" value="Children'sPlayArea">
            </label>
            <label for="Clubhouse">
                <img src="{% static 'Clubhouse.png' %}" alt="Secured Entry">
                <span>Clubhouse</span>
                <input type="checkbox" id="Clubhouse" name="amenities[]" value="Clubhouse">
            </label>
            <label for="Playground">
                <img src="{% static 'Playground.png' %}" alt="Secured Entry">
                <span>Playground</span>
                <input type="checkbox" id="Playground" name="amenities[]" value="Playground">
            </label>
            <button type="submit" class="custom-button" onclick="window.location.href='{% url 'owner:addtenant3' %}'">Next</button>
        </div>
    </form>
</body>
</html>