<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'dashboardOwner.css' %}" />
    <title>Dashboard (Owner)</title>
</head>
<body>
    <div class="sidebar">
        <h2>Dashboard</h2>
        <a href="{% url 'owner:add_tenant1' %}">Add Tenant</a>
        {% comment %} <a href="{% url 'addtenant1' %}">Add Tenant</a>
        <a href="{% url 'viewtenantinfo' %}">Tenant Information</a>
        <a href="{% url 'viewtenantagree' %}"> Tenant Agreement</a>
        <a href="{% url 'viewpayment' %}">View Payment</a>
        <a href="{% url 'community' %}">Community</a>
        <div class="dropdown">
            <button class="dropbtn">Announcement</button>
            <div class="dropdown-content">
                <a href="{% url 'createannouncementowner' %}">Create Announcement</a>
                <a href="{% url 'announcementlogowner' %}">Announcement Log</a>
            </div>
        </div> {% endcomment %}
        {% comment %} <div class="dropdown">
            <button class="dropbtn">Notification</button>
            <div class="dropdown-content">
                <a href="{% url 'createnotificationowner' %}">Create Notification</a>
                <a href="{% url 'notificationlogowner' %}">Notification Log</a>
            </div>
        </div>
        <a href="{% url 'main' %}">Log out</a> {% endcomment %}
    </div>

<div class="main_content">
    <div class="dashboard_div">
        <h3>Visitor Analytics</h3>
        <div id="visitor-charts"></div>
    </div>
    <div class="dashboard_div">
        <h3>Incident Reports</h3>
        <div id="incident-charts"></div>
    </div>
    <div class="dashboard_div">
        <h3>Access Control Logs</h3>
        <div id="access-control-charts"></div>
    </div>
    <div class="dashboard_div">
        <h3>Surveillance Analysis</h3>
        <div id="surveillance-charts"></div>
    </div>
</div>
</body>
</html>