<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'viewTenantAgree.css' %}" />
    <title>Tenant Agreement</title>
</head>
<body>
  <div class="table_1">
    <table>
    <caption>
      Tenant Agreement information
    </caption>
    <tr>
        <th>Full Name</th>
        <th>Floor/Unit Number</th>
        <th>Security Deposit</th>
        <th>Refundable Amount</th>
        <th>Rent Fee</th>
        <th>Rent Starting Date</th>
        <th>Additional Charges</th>
        <th>Parking Slot</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>12</td>
        <td>23</td>
        <td>33</td>
        <td>33</td>
        <td>22</td>
        <td>22</td>
        <td>11</td>
        <td>11</td>
    <td>
        <button>Delete</button>
    </td>
    </table>
  </div>
</body>
</html>
