<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'Login.css' %}" />
    <title>Login</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'main' %}">
                <img src="{% static 'condologo.png' %}" alt="Condo Care Logo">
            </a>
        </div>
    </header>
    <main>
        <div class="login-container">
            <h2>Login</h2>
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Enter Your Username" required>
                <input type="password" name="password" placeholder="Enter Your Password" required>
                 {% comment %} <select name="usertype">
                    <option value="" disabled selected>Select User Type</option>
                    <option value="Tenant">Tenant</option>
                    <option value="Owner">Owner</option>
                    <option value="Security">Security</option>
                    <option value="Management">Management</option>
                </select>  {% endcomment %}
                <button type="submit">Login</button>
            </form>    
            <p>Don't have an account? <a href={% url 'signup' %}>Sign up here</a></p>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Condo Care. All rights reserved.</p>
    </footer>
</body>
</html>
 


