<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'Singup.css' %}" />
    <title>Add User</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'main' %}">
                <img src="{% static 'condologo.png' %}" alt="Condo Care Logo">
            </a>
        </div>
    </header>
    <main>
        <div class="signup-container">
            <h2>Sign Up</h2>
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <select name="usertype">
                    <option value="" disabled selected>Select User Type</option>
                    <option value="Tenant">Tenant</option>
                    <option value="Owner">Owner</option>
                    <option value="Security">Security</option>
                    <option value="Management">Management</option>
                </select> 
                <button type="submit">Sign Up</button>
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </form>
            <p>Already have an account? <a href={% url "login" %}>Login here</a></p>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Condo Care. All rights reserved.</p>
    </footer>
</body>
</html>