<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'createVisitor.css' %}" />
    <title>Regirster Visitors</title>
</head>
<body>
  <h1>Register a Visitor</h1>
  <form id="rental-application" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Submit details</h2>
    <div class="form-group">
      <label for="name">Visitor's Name</label>
      <input type="text" id="visitor_name" name="visitor_name" placeholder="Enter Visitor Name">
    </div>
    <div class="form-group">
      <label for="name">Visitor's Contact</label>
      <input type="text" id="visitor_contact" name="visitor_contact" placeholder="Enter Visitor's Name">
    </div>
    <div class="form-group">
       <label for="floor_number">Floor Number</label>
       <input type="number" min="1" id="floor-number" name="floor_number"  placeholder="Enter Floor Number">
    </div>
    <div class="form-group">
        <label for="unit_number">Unit Number</label>
        <input type="number" min="1" id="unit-number" name="unit_number"  placeholder="Enter Unit Number">
    </div>
    <div class="form-group">
      <label for="reason_to_visit">Purpose  To Visit</label>
      <textarea id="reason_to_visits" name="reason_to_visit" rows="3"  placeholder="Enter Reason To  Visit"></textarea>
    </div>
    <div class="form-group">
      <label for="datetime_local">Enter Date And Time</label>
      <input type="datetime-local" id="datetime_local" name="datetime_local">
    </div>
    <button type="submit" class="custom-button">Submit</button>
  </form>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" role="alert">
      {{ message }}
  </div>
  {% endfor %}
</body>
</html>   