<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'dashboardTenant.css' %}" />
    <title>Dashboard (Tenant)</title>
</head>
<body>
  <div class="sidebar">
    <h2>Dashboard</h2>
    <a href="{% url 'tenant:maintenenecerequest' %}">Maintenenece Request</a>
    <a href="{% url 'tenant:requesthistory' %}">Maintenenece History</a>
    <a href="{% url 'tenant:bookfacilities' %}">Book Facilities</a>
    <a href="{% url 'tenant:availablefacilities' %}">Avaiable Facilities</a>
    <a href="{% url 'tenant:complain' %}">Complain</a>
    <a href="{% url 'tenant:complainhistory' %}">Complain History</a>
    <a href="{% url 'tenant:bookinghistory' %}">Booking History</a>
    {% comment %} <a href="{% url 'maintenenecerequest' %}">Maintenenece Request</a>
    <a href="{% url 'requesthistory' %}">Maintenenece Log</a>
    <a href="{% url 'bookfacilities' %}">Book Facilities</a>
    <a href="{% url 'availablefacilities' %}">Avaiable Facilities</a>
    <a href="{% url 'bookinghistory' %}">Booking Log</a> {% endcomment %}
    {% comment %} <div class="dropdown">
        <button class="dropbtn">Complain</button>
        <div class="dropdown-content">
            <a href="{% url 'complain' %}">Complain</a>
            <a href="{% url 'complainhistory' %}">Complain Log</a>
        </div>
    </div>
    <a href="{% url 'main' %}">Log out</a> {% endcomment %}
    {% comment %} <a href="{% url 'main' %}">Logout</a> {% endcomment %}
</div>

<div class="main_content">
    <div class="dashboard_div">
        <h3>Visitor Analytics</h3>
        <div id="visitor-charts"></div>
    </div>
    <div class="dashboard_div">
        <h3>Incident Reports</h3>
        <div id="incident-charts"></div>
    </div>
    <div class="dashboard_div">
        <h3>Access Control Logs</h3>
        <div id="access-control-charts"></div>
    </div>
    <div class="dashboard_div">
        <h3>Surveillance Analysis</h3>
        <div id="surveillance-charts"></div>
    </div>
</div>
</body>
</html>