<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'makePayment.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Payment and Billing</title>
</head>
<body>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" role="alert">
      {{ message }}
  </div>
  {% endfor %}
  <div class="payment-billing-section">
    <h1>Payment and Billing (Tenant)</h1>
    <div class="payment-form">
      <h3>Make a Payment</h3>
      <form method="POST" enctype="multipart/form-data"> <!-- Corrected the quotes here -->
        {% csrf_token %}
        <label for="payment_month">Rent Month</label>
        <select id="payment_month" name="payment_month">
                <option value="#">Select the Month</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
        </select>

        <label for="rent_amount">Monthly Rent Amount</label>
        <input type="number" min="1" id="rent_amount" name="rent_amount">

        <label for="electricity_amount">Monthly Electricity Amount</label>
        <input type="number" min="1" id="electricity_amount" name="electricity_amount">

        <label for="water_amount">Monthly Water Amount</label>
        <input type="number" min="1" id="water_amount" name="water_amount">

        <label for="payment_method">Payment Method</label>
        <select id="payment_method" name="payment_method">
          <option value="Online_Payment">Online Payment</option>
          <option value="Manual_Payment">Manual Payment</option>
        </select>

        <label for="proof_of_rent">Proof of Rent Bills (IF ONLINE / PDF ONLY)</label>
        <input type="file" id="proof_of_rent" name="proof_of_rent">

        <label for="proof_of_electricity">Proof of Electricity Bills (IF ONLINE / PDF ONLY)</label>
        <input type="file" id="proof_of_electricity" name="proof_of_electricity">

        <label for="proof_of_water">Proof of Water Bills (IF ONLINE / PDF ONLY)</label>
        <input type="file" id="proof_of_water" name="proof_of_water">

        <button type="submit">Submit</button>
      </form>
    </div>
</div>


</body>
</html>