<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'outstandingBill.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Payment and Billing</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Payment & Billing (Tenant)</h1>
        </header>
        <section class="bills">
            <h2>Outstanding Bills</h2>
            <table>
                <tr>
                    <th>#</th>
                    <th>Bill Description</th>
                    <th>Date Issued</th>
                    <th>Due Date</th>
                    <th>Rent of </th>
                    <th>Amount</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Rent</td>
                    <td>2024-05-01</td>
                    <td>2024-05-10</td>
                    <td>May</td>
                    <td>$1200</td>
                </tr>
            </table>
        </section>

        <section class="utility-bills">
            <h2>Utility Bills</h2>
            <table>
                <tr>
                    <th>#</th>
                    <th>Utility</th>
                    <th>Date Issued</th>
                    <th>Due Date</th>
                    <th>Rent Of</th>
                    <th>Amount</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Electricity</td>
                    <td>2024-05-01</td>
                    <td>2024-05-15</td>
                    <td>March</td>
                    <td>$100</td>
                </tr>
                <tr><td>1</td>
                    <td>Water</td>
                    <td>2024-05-01</td>
                    <td>2024-05-15</td>
                    <td>March</td>
                    <td>$30</td>
                </tr>
            </table>
        </section>
</body>
</html>
   