<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'emergency.css' %}" />
    <title>Emergency</title>
</head>
<body>
    <div class="container">
        <h1>Emergency</h1>
        <div class="emergency-info">
            <h2>Emergency Contacts</h2>
            <p>Ambulance: <a href="tel:911">911</a></p>
            <p>Location:Cyberjaya</p>
            <p>Fire Department:<a href="tel:911">911</a></p>
            <p>Location:Cyberjaya</p>
            <p>Nearest Hospital:Cyberjaya</p>
        </div>
    </div>
</body>
</html>