<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'viewVisitorSecurity.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>View Visitors</title>
</head>
<body>
  <div class="table_1">
    <table>
      <caption>
        View Visitors
      </caption>
    <tr>
      <th>Visitor Name</th>
      <th>Visitor Contact</th>
      <th>Floor Number</th>
      <th>Unit Number</th>
      <th>Purpose</th>
      <th>Visit Date and Time</th>
      <th>Actions</th>
    </tr>
    {% for viewvisitors in viewvisitor %}
    <tr>
      <td>{{ viewvisitors.visitor_name }}</td>
      <td>{{ viewvisitors.visitor_contact }}</td>
      <td>{{ viewvisitors.floor_number }}</td>
      <td>{{ viewvisitors.unit_number }}</td>
      <td>{{ viewvisitors.reason_to_visit }}</td>
      <td>{{ viewvisitors.datetime_local }}</td>
      <td>
        <a href="{% url 'security:delete_visitor_tenant' viewvisitors.id %}">
          <i class="fa-solid fa-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
    </table>
  </div>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" role="alert">
      {{ message }}
  </div>
  {% endfor %}
</body>
</html>














