<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'visitorLog.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Visitor Log</title>
</head>
<body>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" role="alert">
      {{ message }}
  </div>
  {% endfor %}
  <div class="table_1">
    <table>
      <caption>
        Visitor information
      </caption>
    <tr>
        <th>#</th>
        <th>Visitor Name</th>
        <th>Tenant Name</th>
        <th>Floor and Unit Number</th>
        <th>Phone Number</th>
        <th>Home Address</th>
        <th>Reason to Visit</th>
        <th>Tower to visit</th>
        <th>Entry Date and Time</th>
        <th>Action</th>
    </tr>
    {% for visitorlog in visitorlog %}
    <tr>
      <td>{{forloop.counter }}</td>
      <td>{{visitorlog.name}}</td>
      <td>{{visitorlog.tenant_name}}</td>
      <td>{{visitorlog.floor_number}} Floor and {{visitorlog.unit_number}} Unit</td>
      <td>{{visitorlog.phone_number}}</td>
      <td>{{visitorlog.home_address}}</td>
      <td>{{visitorlog.reason_to_visit}}</td>
      <td>{{visitorlog.tower_select}}</td>
      <td>{{visitorlog.datetime_local}}</td>
      <td>
        <a href="{% url 'delete' visitorlog.id %}">
          <i class="fa-sharp fa-solid fa-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
    </table>
  </div>
</body>
</html>
